<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div style="height: 100vh">
    <div class="container">
        <div id="form-container" class="row align-content-center p-5">
            <div class="col-12">
                <h1 class="mb-4">Thank you <%= email %></h1>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-4">Course Code:</div>
                    <div class="col-8"><%= courseCode %></div>
                </div>

                <div class="row">
                    <div class="col-4">Course Name:</div>
                    <div class="col-8"><%= courseName %></div>
                </div>

                <div class="row">
                    <div class="col-4">Favourite Topic:</div>
                    <div class="col-8"><%= favouriteTopic %></div>
                </div>

                <div class="row">
                    <div class="col-4">Favourite Assignment:</div>
                    <div class="col-8"><%= favouriteAssignment %></div>
                </div>

                <div class="row">
                    <div class="col-4">We appreciate your comments:</div>
                    <div class="col-8"><%= comments %></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
